.flex-page{
    display: flex;
    gap: 10px;
    /* research on display */
    /* this top space is general, i.e, whatever is set here applies to all */
}

.two{
    border: 1px solid orangered;
    padding: 10px;
}

.one{
    border: 1.5px solid rgb(71, 102, 8);
    margin-right: 5%;
}

/* to put in box and not having demacation, see below how */
/* .flex-page{
    display: flex;}
    .two{
    border: 1px solid orangered;
    padding: 10px;} 
    .one{
    border: 1.5px solid rgb(71, 102, 8);
    margin-right: 5%;*/

.grid-page{
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; repeat(3 1fr) */
    grid-template-columns: repeat(3, 2fr);
    gap: 10px;
}

.lorem{ 
    border: 1px solid orangered;
}